[submodule "aramjb"]
	path = aramjb
	url = git@github.com:AraMinjibir/aramjb.git
[submodule "abubakar"]
	path = abubakar
	url = git@github.com:AraMinjibir/abubakar.git
[submodule "sass-projects-folder"]
	path = sass-projects-folder
	url = git@github.com:AraMinjibir/sass-projects-folder.git
[submodule "java-script-projects"]
	path = java-script-projects
	url = git@github.com:AraMinjibir/java-script-projects.git

[submodule "s"]
	path = s
	url = git@github.com:AraMinjibir/s.git
